
.topbar {
    min-width: 400px;
    height: 65px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    position :relative;
    bottom: 10px;
    right: 10px;
    background-color:#a2e8db ;

}

.topbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.topbar li {
   float: left;
    display: block;
    padding: 10px 20px 10px 10px;
}

.topbar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

.page{
    background-color:white;
}

.inputs  {
    width:200px;
    padding: 8px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #000000;
    box-sizing: border-box;
    line-height:10px;
}

.field {
    clear:both;  
    line-height:25px;
}

.main_field{
    width:350px;
    height:450px;
    border: 1px solid #d4a870;
    border-collapse: collapse;
    background-color:rgb(178, 138, 183);
    border-radius: 10px;

}

.registration_fields{
	width:350px;
    height:230px;
    border: 1px solid #d4a870;
    border-collapse: collapse;
    background-color:rgb(178, 138, 183);
    border-radius: 10px;
}

.references a:hover, .active {
    border-bottom: 2px solid black;
}

.subm_register{
    background-color: #c0c0c015100199;
    margin-left: 120px;
    width:202px;
    height:32px;
}

.subm{
    background-color: #c0c0c015100199;
    margin-left: 85px;
    width:202px;
    height:32px;
}

.register{
    background-color: white;
    margin-top: 20;
    margin-left: 120px;
    width:202px;
    height:32px;
}

.screen-add{
	width:550px;
	height:510px;
	float:right;
	clear:both;
	margin:5px;
	background-image: url("../images/screen-add.png"); 
	background-size: cover;
}

.screen-dashboard{
	width:550px;
	height:250px;
	float:right;
	clear:both;
	margin:5px;
	background-image: url("../images/screen-dashboard.png");  
		background-size: cover;
}

.moto{
	font-size:22px;
}

.success_message{
	color: green;
	font-size:23px;
}

.unsuccess_message{
	color: red;
	font-size:23px;
}



